---
import Container from "@components/Container.astro";
import OddBG from "@components/OddBG.astro";
import Main from "@layouts/Main.astro";
---

<script>
  import { random } from "@utils";

  const { quotes } = (await (await fetch("/quotes.json")).json()) as {
    quotes: { text: string; author: string | null }[];
  };

  const quote = quotes[random(0, quotes.length)]!;
  const quoteblock = document.querySelector(".not-found figure quoteblock")!;
  quoteblock.textContent = `“${quote.text}”`;

  if (quote.author) {
    const figcaption = document.createElement("figcaption");
    figcaption.textContent = `— ${quote.author}`;
    quoteblock.parentElement!.appendChild(figcaption);
  }
</script>

<Main includeGallery={false} includeScrollTop={false}>
  <div class="not-found">
    <div class="page-content">
      <Container>
        <div class="heading-div">
          <img src="/images/pulp-fiction-confused.gif" alt="" />
          <div class="content">
            <h1>Can't find this page</h1>
            <p>Looks like you're lost!</p>
            <a href="/">Back to homepage</a>
          </div>
        </div>
      </Container>
      <div>
        <OddBG degree={4} padding="40px" margin="20px">
          <h2>Here's a quote before you go</h2>
          <figure>
            <svg viewBox="0 0 48 48">
              <g transform="translate(-407, -9)">
                <path
                  d="M448.6211,37.1646 C448.3691,36.3886 447.9321,35.6776 447.3241,35.0346 C446.6871,34.3626 445.8501,33.8426 444.8121,33.4666 C443.7731,33.0936 442.4391,32.9046 440.7951,32.9046 L438.5641,32.9046 C438.8301,30.1586 439.8081,27.8216 441.5001,25.8896 C443.1891,23.9636 445.5311,22.2686 448.5251,20.8146 L446.7091,18.0006 C442.7671,19.6796 439.3941,22.1356 436.5921,25.3796 C433.7911,28.6266 432.3961,31.8436 432.3961,35.0346 C432.3961,38.4626 433.2051,41.1516 434.8361,43.0926 C436.4671,45.0336 438.8031,46.0006 441.8401,46.0006 C443.7671,46.0006 445.4411,45.3576 446.8651,44.0726 C448.2871,42.7896 449.0001,41.2866 449.0001,39.5726 C449.0001,38.7456 448.8751,37.9406 448.6211,37.1646 M428.2251,37.1646 C427.9711,36.3886 427.5351,35.6776 426.9261,35.0346 C426.2911,34.3626 425.4531,33.8426 424.4141,33.4666 C423.3771,33.0936 422.0431,32.9046 420.3981,32.9046 L418.1661,32.9046 C418.4331,30.1586 419.4101,27.8216 421.1011,25.8896 C422.7911,23.9636 425.1351,22.2686 428.1271,20.8146 L426.3121,18.0006 C422.3691,19.6796 418.9981,22.1356 416.1951,25.3796 C413.3941,28.6266 412.0001,31.8436 412.0001,35.0346 C412.0001,38.4626 412.8071,41.1516 414.4391,43.0926 C416.0681,45.0336 418.4041,46.0006 421.4431,46.0006 C423.3691,46.0006 425.0451,45.3576 426.4691,44.0726 C427.8911,42.7896 428.6031,41.2866 428.6031,39.5726 C428.6031,38.7456 428.4761,37.9406 428.2251,37.1646"
                  fill="var(--text)"></path>
              </g>
            </svg>
            <Container>
              <div class="content">
                <quoteblock></quoteblock>
                {/*quote.author && <figcaption>— {quote.author}</figcaption>*/}
              </div>
            </Container>
            <svg viewBox="0 0 48 48">
              <g transform="translate(-407, -9)">
                <path
                  d="M448.6211,37.1646 C448.3691,36.3886 447.9321,35.6776 447.3241,35.0346 C446.6871,34.3626 445.8501,33.8426 444.8121,33.4666 C443.7731,33.0936 442.4391,32.9046 440.7951,32.9046 L438.5641,32.9046 C438.8301,30.1586 439.8081,27.8216 441.5001,25.8896 C443.1891,23.9636 445.5311,22.2686 448.5251,20.8146 L446.7091,18.0006 C442.7671,19.6796 439.3941,22.1356 436.5921,25.3796 C433.7911,28.6266 432.3961,31.8436 432.3961,35.0346 C432.3961,38.4626 433.2051,41.1516 434.8361,43.0926 C436.4671,45.0336 438.8031,46.0006 441.8401,46.0006 C443.7671,46.0006 445.4411,45.3576 446.8651,44.0726 C448.2871,42.7896 449.0001,41.2866 449.0001,39.5726 C449.0001,38.7456 448.8751,37.9406 448.6211,37.1646 M428.2251,37.1646 C427.9711,36.3886 427.5351,35.6776 426.9261,35.0346 C426.2911,34.3626 425.4531,33.8426 424.4141,33.4666 C423.3771,33.0936 422.0431,32.9046 420.3981,32.9046 L418.1661,32.9046 C418.4331,30.1586 419.4101,27.8216 421.1011,25.8896 C422.7911,23.9636 425.1351,22.2686 428.1271,20.8146 L426.3121,18.0006 C422.3691,19.6796 418.9981,22.1356 416.1951,25.3796 C413.3941,28.6266 412.0001,31.8436 412.0001,35.0346 C412.0001,38.4626 412.8071,41.1516 414.4391,43.0926 C416.0681,45.0336 418.4041,46.0006 421.4431,46.0006 C423.3691,46.0006 425.0451,45.3576 426.4691,44.0726 C427.8911,42.7896 428.6031,41.2866 428.6031,39.5726 C428.6031,38.7456 428.4761,37.9406 428.2251,37.1646"
                  fill="var(--text)"></path>
              </g>
            </svg>
          </figure>
        </OddBG>
      </div>
    </div>
  </div>
</Main>

<style lang="scss">
  @use "../assets/styles/mixins.scss" as *;

  .not-found {
    min-height: calc(100vh - (var(--nav-height) + 8px) - var(--footer-height));
    text-align: center;
    padding-bottom: 40px;

    .heading-div {
      padding: 5vh 0;
      display: grid;
      place-items: center;

      img,
      .content {
        grid-area: 1 / -1;
      }

      img {
        object-fit: cover;
        @include w(max 98vw);
        @include w(min 80%);
        @include h(50vh);
      }

      .content {
        background: var(--blur-surface5);
        backdrop-filter: blur(4px);
        border-radius: 10px;
        padding: 20px 20px;

        h1 {
          margin-bottom: 15px;
          line-height: 100%;
        }
        p {
          font-size: 1.2rem;
        }

        a {
          border-radius: 100px;
          padding: 8px 20px;
          color: var(--text-main-light);
          @include animate-background-gradient-on-hover;
          @include gradient-shadow($animate-on-hover: true);

          font-size: 1.2rem;
          font-weight: bold;
          margin: 20px auto 0;
          display: inline-block;
          text-decoration: none;
          /* background-position: 50% 50%; */
        }
      }
    }

    h2 {
      font-size: 1.2rem;
      font-weight: normal;
      margin-top: 20px;
      opacity: 0.6;
    }

    figure {
      position: relative;
      font-size: 1.2rem;
      width: fit-content;
      margin: 20px auto auto;
      padding: 0 20px;
      .content {
        padding: 20px;
        border-radius: 15px;
        background: var(--blur-surface5);
        backdrop-filter: blur(4px);
      }
      svg {
        position: absolute;
        opacity: 0.2;
        z-index: -1;
        @include size(80px);
        &:nth-of-type(1) {
          left: -0%;
          top: -35px;
        }
        &:nth-of-type(2) {
          right: -0%;
          bottom: -20px;
          rotate: 180deg;
          translate: -20% 0;
        }
      }
    }
  }
</style>
