---
export interface Props {
  title?: string;
  description?: string;
  image?: string;
  imageSize?: `${number}x${number}`;
}

const {
  title = "Omar Eloui | Web Developer",
  description = "Full-stack developer portfolio. Omar Eloui is a developer based in Egypt.",
  image = "/images/heading.png",
  imageSize = "1280x640",
} = Astro.props;

const matchResult = imageSize.match(/^(\d+?)x(\d+?)$/);
const imageParsedSize = {
  width: parseInt(matchResult![1], 10),
  height: parseInt(matchResult![2], 10),
};
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="apple-touch-icon" href="/icons/logo_x180.png" />
<link rel="manifest" href="/site.webmanifest" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
/>
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Theme -->
<meta name="theme-color" content="#5216d1" />
<link rel="apple-mobile-web-app-status-bar" href="#5216d1" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:site_name" content="Omar Eloui | Full-Stack Developer" />
<meta property="og:image" content={new URL(image, Astro.url)} />
<meta
  property="og:image:type"
  content={`image/${image.match(/\.(.+?)$/)![1]}`}
/>
<meta property="og:image:width" content={imageParsedSize.width.toString(10)} />
<meta
  property="og:image:height"
  content={imageParsedSize.height.toString(10)}
/>

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
