---
export interface Props {
  title: string;
  shadowTitle: string;
  isOdd?: boolean;
  class?: string;
  id?: string;
}

import Container from "./Container.astro";
import OddBG from "./OddBG.astro";
import SectionTitle from "./SectionTitle.astro";

const { title, shadowTitle, isOdd = false, id, class: className } = Astro.props;

const ContainerTag = isOdd ? OddBG : "div";
---

<ContainerTag class="section-container">
  <Container tag="section" id={id}>
    <SectionTitle id={id}>
      {title}
      <Fragment slot="shadow-text">{shadowTitle}</Fragment>
    </SectionTitle>
    <div class={className}>
      <slot />
    </div>
  </Container>
</ContainerTag>

<style>
  .section-container {
    margin-block: 150px;
  }
</style>
