---
import "@assets/styles/variables.scss";
import "@assets/styles/global.scss";
import "@assets/styles/keyframes.scss";
import "@assets/styles/helper-classes.scss";

import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import SEOTag from "@components/SEOTag.astro";
import GTag from "@components/GTag.astro";

import GalleryPreviewer from "@components/GalleryPreviewer.astro";
import ScrollTop from "@components/ScrollTop.astro";

export interface Props {
  isPostsPage?: boolean;
  notHomepage?: boolean;
  includeGallery?: boolean;
  includeScrollTop?: boolean;
}

const { notHomepage = true, includeGallery = false, includeScrollTop = false, isPostsPage = false } = Astro.props;

const title = "Omar Eloui | Full-Stack Developer";
const description =
  "I am a software engineer passionate about building scalable and innovative solutions. This portfolio highlights my projects, skills, and achievements, showcasing my commitment to solving complex problems and pushing the boundaries of technology. Explore my work and see how I bring ideas to life through software.";
---

<>
  <!-- @ts-ignore -->
  <html lang="en" theme="dark">
    <head>
      <GTag />
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width" />
      <meta name="generator" content={Astro.generator} />

      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&family=Poppins:ital,wght@0,300;0,400;0,700;1,400&display=swap"
        rel="stylesheet"
      />

      <SEOTag title={title} description={description} />

      <script>
        import { theme } from "@utils";

        theme.init();

        if ("serviceWorker" in navigator) {
          navigator.serviceWorker.register("/sw.js");
        }
      </script>
    </head>
    <body>
      {includeGallery && <GalleryPreviewer />}
      <Header notHomepage={notHomepage} postsPage={isPostsPage} />
      <slot />
      <Footer />
      <ScrollTop />
      {includeScrollTop && <ScrollTop />}
    </body>
  </html>
</>
